<nav class="navbar navbar-expand-md  ">
  <img src="../../../../assets/image/logo/banner-logo.png" class="navbar-brand" width="320" height="80">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngClass]="{ 'show': isCollapsed }">
    <ul class="navbar-nav" style="margin-left: 10em;">
      <li><a href="/">ANASAYFA</a></li>
      <li><a href="http://ilkerdoviz.com/" target="_blank">İLKER DÖVİZ KURLARI İÇİN TIKLAYINIZ</a></li>
      <li><a href="https://www.safiris.com.tr/" target="_blank">SAFİRİŞ ONLINE SATIŞ İÇİN TIKLAYINIZ</a></li>
      <li><a href="../../../../assets/docs/katalog.pdf" target="_blank">ALTINKAYA BİLEZİK KATALOĞU</a></li>
      <li><a routerLink="/about">HAKKIMIZDA</a></li>
      <li><a routerLink="/contact">İLETİŞİM</a></li>
    </ul>
  </div>
</nav>
