<div class="row fixFooter">
  <div class="col" style="margin-top: 1em; margin-left:1em;"> <b>Copyright © 2021 <a href="https://www.aifanet.com/"
        class="text-light" style="text-decoration: none;" target="_blank">AifaNet</a> All rights reserved</b> </div>
  <div class="col col-lg-8"></div>
  <div class="col " style="margin-top: 1em; margin-left:1em;">Powered by AIFASOFT
    <i class="material-icons  button-scroll-to-top " [ngClass]="{'button-scroll-to-top--show': showScroll}"
      (click)="scrollToTop()">keyboard_arrow_up</i>
  </div>
</div>
