<div class="row w-100 ">
  <div class="col col-lg-4">
    <div class="card">
      <table class="material-table">
        <thead>
          <tr>
            <th>GENEL</th>
            <th>ALIŞ</th>
            <th>SATIŞ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Something</td>
            <td>Something</td>
            <td>Something</td>
          </tr>
          <tr>
            <td>Something</td>
            <td>Something</td>
            <td>Something</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col col-lg-4">
    <div class="card">
      <table class="material-table">
        <thead>
          <tr>
            <th>GENEL</th>
            <th>ALIŞ</th>
            <th>SATIŞ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Something</td>
            <td>Something</td>
            <td>Something</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   <div class="col col-lg-4">
    <div class="card">
      <table class="material-table">
        <thead>
          <tr>
            <th>GENEL</th>
            <th>ALIŞ</th>
            <th>SATIŞ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Something</td>
            <td>Something</td>
            <td>Something</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
