<div class="row w-100">
  <div class="bods col col-lg-4">
    <div class="card">
      <table class="material-table">
        <thead>
          <tr>
            <th>GENEL</th>
            <th>ALIŞ</th>
            <th>SATIŞ</th>
          </tr>
        </thead>
        <tbody *ngFor="let socketData of parityList; let i=index; trackBy : trackByPrice" [ngClass]="{'grid-up': socketData.askPercentChange >0,'grid-stabil': socketData.askPercentChange ===0,
               'grid-down': socketData.askPercentChange <0}">
          <tr>
            <td> {{socketData.Code}} </td>
            <td>{{socketData.Ask}}</td>
            <td>{{socketData.Bid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="bods col col-lg-4">
    <div class="card">
      <table class="material-table">
        <thead>
          <tr>
            <th>GENEL</th>
            <th>ALIŞ</th>
            <th>SATIŞ</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of goldList; let i=index; trackBy : trackByPrice" [ngClass]="{'grid-up': data.askPercentChange >0,'grid-stabil': data.askPercentChange ===0,
          'grid-down': data.askPercentChange <0}">
          <tr>
            <td> {{data.Code}} </td>
            <td>{{data.Ask}}</td>
            <td>{{data.Bid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="bods col col-lg-4">
    <div class="card">
      <table class="material-table">
        <thead>
          <tr>
            <th>GENEL</th>
            <th>ALIŞ</th>
            <th>SATIŞ</th>
          </tr>
        </thead>
        <tbody *ngFor="let gramadata of currencyList; let i=index; trackBy : trackByPrice" [ngClass]="{'grid-up': gramadata.askPercentChange >0,'grid-stabil': gramadata.askPercentChange ===0,
          'grid-down': gramadata.askPercentChange <0}">
          <tr>
            <td> {{gramadata.Code}} </td>
            <td>{{gramadata.Ask}}</td>
            <td>{{gramadata.Bid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
